{% extends 'urlcut/base.html' %}

{% block title %}All List{% endblock %}

{% block content %}

    {# Display all the links in this pagination chunk... #}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usage / Limit</th>
            <th>Hash</th>
            <th>Full URL</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for url_pair in object_list %}
        <tr>
            {# ID... #}
            <td style="width: 5%">
                <strong>{{ url_pair.id }}</strong>
            </td>

            {# Usage count / limit (or infinity)... #}
            <td style="width: 12%">
                {{ url_pair.usage_count }} /
                {% if url_pair.usage_count_limit < 0 %}∞{% else %}{{ url_pair.usage_count_limit }}{% endif %}
            </td>

            {# Short URL / Hash... #}
            <td style="width: 12%" title="{{ request.get_host }}/{{ url_pair.short_url }}">
                <a href="{{ request.get_host }}/{{ url_pair.short_url }}">{{ url_pair.short_url }}</a>
            </td>

            {# Full URL... #}
            <td  title="{{ url_pair.full_url }}">
                <a href="{{ url_pair.full_url }}">{{ url_pair.full_url|truncatechars:"60" }}</a>
            </td>

            {# Details button... #}
            <td style="width: 2%">
                <form method="get" action="{% url 'detail' url_pair.id %}">
                    <button type="submit" class="btn btn-info">
                        <span class="fa fa-info"></span>
                        <span class="sr-only">info</span>
                    </button>
                </form>
            </td>

            {# Remove button... #}
            <td style="width: 2%">
                <form method="post" action="{% url 'remove' url_pair.id %}">
                    <button type="submit" class="btn btn-danger">
                        <span class="fa fa-remove"></span>
                        <span class="sr-only">remove</span>
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Django-based pagination... #}
    <ul class="pagination pagination-circle justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">prev</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item disabled"><a class="page-link" href="?page=1">prev</a></li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&laquo; first</a></li>
            <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">prev</a></li>
        {% endif %}
    </ul>

{% endblock %}
