{% extends 'urlcut/base.html' %}

{# TODO: Add All Links href... #}

{% load bootstrap_tags %}

{% block content %}
    {# Copy to clipboard if page is provided with `object.short_url`... #}
    <script>
        function copyToClipboard(id) {
            var text = document.getElementById(id).innerText;
            var elem = document.createElement("textarea");
            document.body.appendChild(elem);
            elem.value = text;
            elem.select();
            document.execCommand("copy");
            document.body.removeChild(elem);
        }
    </script>

    <div class="row">
        <form method="post" class="col-md-8" novalidate>
            {% csrf_token %}

            {# URLPair model's form... #}
            {{ form|as_bootstrap_inline }}

            {# Activate button... #}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1 offset-md-1"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Cut!</button>
                    </div>
                </div>
            </div>
        </form>

        {# When the new instance is created, also display the generated short URL... #}
        {% if object.short_url %}
            <div class="col">
                <div class="card">
                    {# The resulting short URL hash... #}
                    <div class="card-body bg-warning" id="short_url_id" title="Click on the URL to Copy it"
                         onclick="copyToClipboard(this.id)">{{ request.get_host }}/{{ object.short_url }}</div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
